[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
# dropbox = "==9.4.0"
lxml = "==4.6.2"
requests = "==2.25.1"

[requires]
python_version = "3.7"

[dev-packages]
flake8 = "*"
pytest = "==6.2.2"
# pypdf4 = "==1.27.0"
wheel = "*"
setuptools = "*"
